@page "/colors"
@inject IColorService _colorService

<h3>Colors Library</h3>

<div class="accordion" id="accordionExample">
    @foreach (var item in _colors)
    {
        <div class="card m-1">
            <div class="card-header d-flex flex-row" id="heading@(item.Id)">
                <div style="height: 30px; width: 30px; background-color: rgb(@item.R, @item.G, @item.B)"></div>
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed bg-white" type="button" data-toggle="collapse"
                            data-target="#collapse@(item.Id)" aria-expanded="false" aria-controls="collapse@(item.Id)">
                        @item.Name
                    </button>
                </h5>
            </div>

            <div id="collapse@(item.Id)" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (var block in item.BlocksNames)
                        {
                            <li class="list-group-item">@block</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private IEnumerable<ColorLibraryItem> _colors = new List<ColorLibraryItem>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _colors = await _colorService.GetColorsLibraryAsync();
    }
}
